/* reset css */
body,
html,
div,
h1,
h2,
p,
form,
label,
input,
textarea,
button {
    font-family: 'Bebas Neue', cursive;
    font-variant: small-caps;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-image: url('Background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas: ". headline ."
        ". form ."
        ". entry .";
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

h1 {
    font-size: 54px;
    color: #fff;
}

.headline {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#form {
    grid-area: form;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    background: rgba(116,140,241,0.4);
    padding: 1em;
    padding-bottom: 0.5em;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.holder, .myInput {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1em;
}

.entry{
    background: rgba(255,255,255,0.7) /*rgba(171,174,211,0.5)*/;
    color: #3e3b51;
    grid-area: entry;
    padding-bottom: 1em;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.title{
    text-align: center;
    font-size: 28px;
    line-height: 24px;
    margin: 1em 2em 0 2em;
    border-bottom: 1px solid #3e3b51;
}

#entryHolder{
    padding: 0.5em;
}

.entry div {
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    text-align: center;
    font-size: 24px;
    color: #fff;
}

input {
    height: 36px;
}

input, textarea{
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
}

button{
    height: 54px;
    background: #3e3b51;
    color: #fff;
    font-size: 26px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgba(62,59,81,0.5);
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: rgba(62,59,81,0.5);
}
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgba(62,59,81,0.5);
}